<div class="container">
    <div class="row">
       <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
             <div class="panel-heading">
                <div class="panel-title text-center">SIGN UP</div>
                <hr>
             </div>
             <div class="panel-body">
                <div class="row">
                   <div class="col-lg-12">  
                     <div class="alert alert-danger" *ngIf="error">
                        <p>{{error}}</p>
                    </div> 
                      <form class="col-lg-offset-1 col-lg-10"  (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" style="display: block;" >
                        <div class="form-group input-group">
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"  ngModel required username #username="ngModel">
                         
                       </div>
                       <div *ngIf="username.touched" >
                        <p *ngIf="username.errors?.required" style="color: red;">Username is a required field!</p>
                        </div>
                         <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"  ngModel required email #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                           
                         </div>
                         <div *ngIf="email.touched" >
                           <p *ngIf="email.errors?.required" style="color: red;">Email is a required field!</p>
                           <p *ngIf="email.errors?.pattern" style="color: red;">This is not a valid Email!!!</p>
                           </div>
   
                         <div class="form-group input-group">
                          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                          <input type="number" class="form-control" id="phone" placeholder="Enter phone" name="phone" ngModel required phone #phone="ngModel">
                         
                       </div>
                       <div *ngIf="phone.touched" >
                        <p *ngIf="phone.errors?.required" style="color: red;">Phone is a required field!</p>
                        </div>  
                       <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"  ngModel minlength="6" required password #password="ngModel" >
                          
                         </div>
                         <div *ngIf="password.touched" >
                           <p *ngIf="password.errors?.required" style="color: red;">Password is a required field!</p>
                           </div>
                              <ngx-recaptcha2 #captchaElem
                                [siteKey]="siteKey">
                              </ngx-recaptcha2 >
                           <div class="col-sm-6 col-sm-offset-3">
                            <button class="form-control btn" type="submit" [disabled]="!authForm.valid" style="background-color: #737373; color:white">Register</button>
                         </div>
                         <br><br>
                         <div class="col-sm-6 col-sm-offset-3">
                          <span> Already A User? <a  [routerLink]="['/auth/login']" style="color:black;">  Sign In</a></span>
                       </div>
                     
                         </form>  
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>